
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f0f0f0;
}
header {
  background: #222;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav ul li {
  margin-top: 5px;
}
.theme-toggle {
  text-align: center;
  margin: 10px;
}
.search-container {
  text-align: center;
  padding: 10px;
}
#search {
  padding: 10px;
  width: 80%;
}
main {
  padding: 20px;
}
.app-box {
  background: #fff;
  padding: 10px;
  margin: 10px;
  display: flex;
  border: 1px solid #ccc;
  align-items: center;
}
.icon-box {
  font-size: 24px;
  background: #ddd;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}
.ad-box {
  text-align: center;
  margin: 30px 0;
}
footer {
  background: #222;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}
.dark-theme {
  background-color: #111;
  color: #eee;
}
.dark-theme .app-box {
  background: #222;
  color: white;
}
